// Place all the styles related to the Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.sign-container {
  position: relative;
  padding-top: 0;
  width: 100%;
  height: 100%;
}

.signup {
  width: max-content;
}

.edit_client { 
  width: 50%;
}